<div class="flexbox-parent">
    <img src="../assets/images/logo.svg" />
    <div class="flexbox-item header">
        <nav md-tab-nav-bar>
            <a md-tab-link [routerLink]="link" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
    RouteSheet
  </a>
        </nav>
    </div>

    <div class="flexbox-item fill-area content flexbox-item-grow">
        <div class="fill-area-content flexbox-item-grow">
            <aside id="menu"></aside>
            <content>
                <md-card class="example-card">
                    <md-card-header>
                        Exterior
                    </md-card-header>
                    <md-card-content>
                        <md-card>
                            <md-card-actions>
                                <button class="pass" md-button>Pass</button>
                                <button class="caution" md-button>Caution</button>
                                <button class="fail" md-button>Fail</button> Tire condition
                            </md-card-actions>
                            <md-card-actions>
                                <button class="pass" md-button>Pass</button>
                                <button class="caution" md-button>Caution</button>
                                <button class="fail" md-button>Fail</button> Tire condition
                            </md-card-actions>
                            <md-card-actions>
                                <button class="pass" md-button>Pass</button>
                                <button class="caution" md-button>Caution</button>
                                <button class="fail" md-button>Fail</button> Tire condition
                            </md-card-actions>
                            <md-card-actions>
                                <button class="pass" md-button>Pass</button>
                                <button class="caution" md-button>Caution</button>
                                <button class="fail" md-button>Fail</button> Tire condition
                            </md-card-actions>
                        </md-card>
                    </md-card-content>
                </md-card>
                <md-card class="example-card">
                    <md-card-header>
                        Exterior
                    </md-card-header>
                    <md-card-content>
                        <md-card-actions>
                            <button class="pass" md-button>Pass</button>
                            <button class="caution" md-button>Caution</button>
                            <button class="fail" md-button>Fail</button> Tire condition
                        </md-card-actions>
                        <md-card-actions>
                            <button class="pass" md-button>Pass</button>
                            <button class="caution" md-button>Caution</button>
                            <button class="fail" md-button>Fail</button> Tire condition
                        </md-card-actions>
                        <md-card-actions>
                            <button class="pass" md-button>Pass</button>
                            <button class="caution" md-button>Caution</button>
                            <button class="fail" md-button>Fail</button> Tire condition
                        </md-card-actions>
                        <md-card-actions>
                            <button class="pass" md-button>Pass</button>
                            <button class="caution" md-button>Caution</button>
                            <button class="fail" md-button>Fail</button> Tire condition
                        </md-card-actions>

                    </md-card-content>

                </md-card>
                <md-card class="example-card">
                    <md-card-header>
                        Exterior
                    </md-card-header>
                    <md-card-content>
                        <md-card-actions>
                            <button class="pass" md-button>Pass</button>
                            <button class="caution" md-button>Caution</button>
                            <button class="fail" md-button>Fail</button> Tire condition
                        </md-card-actions>
                        <md-card-actions>
                            <button class="pass" md-button>Pass</button>
                            <button class="caution" md-button>Caution</button>
                            <button class="fail" md-button>Fail</button> Tire condition
                        </md-card-actions>
                        <md-card-actions>
                            <button class="pass" md-button>Pass</button>
                            <button class="caution" md-button>Caution</button>
                            <button class="fail" md-button>Fail</button> Tire condition
                        </md-card-actions>
                        <md-card-actions>
                            <button class="pass" md-button>Pass</button>
                            <button class="caution" md-button>Caution</button>
                            <button class="fail" md-button>Fail</button> Tire condition
                        </md-card-actions>

                    </md-card-content>

                </md-card>
            </content>
            <aside id="sidebar">
            </aside>
        </div>
    </div>
</div>